// colours

$color-raisin-black: #221824;
$color-raisin-black-20: rgba($color-raisin-black, 0.2);
$color-light-slate-grey: #768b99;
$color-saffron: #f2c232;
$color-watermelon-red: #b63b4f;
$color-indigo: #242565;
$color-cultered: #f4f7f4;
$color-white: #ffffff;

// typography

$ff-roboto: "Roboto", "Arial", sans-serif;

// viewport 

$vp-tablet: 1023px;
$vp-mobile: 767px;

// animation

$transition-300: ease-in 0.3s;
